.back-to-top {
	position: fixed;
	bottom: 5%;
	right: 5%;
}
.docs-header {
	margin-bottom:40px;
/*
	padding-top: 60px;
	padding-bottom: 60px;
*/
	font-size: 24px;
	text-align: left;
	position: relative;
	padding: 30px 0px;
	
	padding-bottom: 22px;
	
	color: #FFF;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	background-color: #282A2B;
	background-repeat: repeat-x;
}
.docs-header img {
	height: 85px;
}
.docs-header h1 {
	display: inline;
	margin-left:20px;
}
.four {
	color: #F23554;
}
h2 {
	padding-top:55px;
}
h4 {
	padding: 10px 0;
}
h4.panel-title {
	padding: 0px !important;
}
.docs-header .container {
	margin-top:42px;
}
.docs-header h1, .docs-header p {
	color:white;
}
.doc-meta-info {
	text-align: right;
}
#doc-version, #doc-last-updated-date {
	margin: 0 5px;
}
.doc-tab-content {
	margin-top: 10px;
}

.doc-params, .doc-param-defs {
	margin-top:10px;
}

.doc-example-label {
	margin-top:10px;
}

.doc-callout {
	padding: 20px;
	margin: 20px 0px;
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: #EEE;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 3px;
}
.doc-callout-danger {
	border-left-color: #CE4844;
}

.doc-attr-icon {
	margin-left: 20px;
}

.doc-content-header {
	margin-top: 30px;
}

.navbar-header img {
	width: 75px;
}
.no-navbar-fix {
	padding-top: 0px !important;
}

.docs-sidebar.affix {
	position: fixed;
	top:20px;
	width:264px;
}
.docs-sidebar .nav .nav > li > a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}
.docs-sidebar .nav .nav .nav > li > a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 60px;
	font-size: 12px;
	font-weight: 400;
}

code {
	word-wrap: break-word;
}
code.json {
	padding: 0;
}
.json pre {
	color: #C7254E;
}

footer {
	margin-top:40px;
	color: #FFF;
	text-align:center;
	width: 100%;
	background-color: #282A2B;
	height: 100px;	
/*	
	bottom: 0;
	position: fixed;
*/
}
footer a {
	color: #F23554;
}
#copyright {
	font-weight:bold;
	padding-top: 20px;
}

.dropdown-menu > li > a:hover {
	color: #FFF;
	background-color: #F23554;
}
